@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@200&family=Poppins:wght@300;600&family=Quicksand:wght@300;700&display=swap');
*{
margin-left: 0;
box-sizing: border-box;
}

body{
    margin-top: 0;
}

:root {
--hot-pink-fill: rgba(244, 66, 183);
--blue-fill: rgba(66, 183, 244);
--green-fill: rgba(100, 210, 144);
--lavender-fill: rgba(219, 213, 242);
--orange-fill: rgba(255, 192, 84);
--yellow-fill: rgba(255, 252, 76);

}
/*-----------------------------------index.html---------------------------------------*/

/*----------- media screen size -------------*/
@media screen and (max-width: 600px){
    #navbar a{
    font-size: 20px;
    }


}
/*-------------------- navbar --------------------*/
#navbar{
  background-color: #678A98;
  overflow: hidden;
  height: 14vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.navbar_spacer{
    width: 30vw;
    height: 30vh;
    padding
}
.navbar_items{
  display: flex;
  justify-content: center;
  gap: 4vw;
  list-style-type: none;
  margin-right: 30px;
}

.navbar_items li{
    border-radius: 5px;
    margin: auto 0;
    align-items: center;
    display: flex;
}


#navbar a{
    font-size: 30px;
    font-family: 'Poppins';
    text-decoration: none;
    color: white;
    padding: 6vh 2vw;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100vw;
}

#navbar a:hover{
    animation-name: color-change;
    animation-duration: 0.5s;
    background-color:white;
    color: #987567;
}

@keyframes color-change{
    from{background-color: #987567;}
    to{background-color: white;}
}



/*-------------------- Welcome Section --------------------*/
.welcome_section{
  text-align: center;
  background-color: #DACDDD;
  width: 100vw;
  font-family: 'Poppins';
  margin: auto;
  padding-top: 50vh;
  padding-bottom: 50vh;
  color: #66524b;


}

#welcome_section h1{
    font-size: 8vh;
}

#welcome_section p{
    font-size: 6vh;
}



#welcome_section .test{
    font-size: 35px;
}

/*-------------------- Projects Section --------------------*/

.projects_title{
    padding-top: 80px;
    width: 100vw;
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins';
    color: #66524b;
  }



.projects_title .title{


}


.grid{
    display: flex;
    gap: 10vw;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;

}

.grid .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15vw;
    max-width: 1400px;
}

.grid .row img{
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

a:link{
    text-decoration: none;
    font-size: 30px;
    font-family: poppins;
}
/*-------------------- Contact Section --------------------*/


.contact_section{
     height: 30vh;
     margin-right: auto;
     display: flex;
     margin-top: 200px;
     flex-direction: column;
     text-align: center;
     font-size: 2vw;

 }

/* ---------------------- ColorGrid.html ------------------------------------------------------- */
.grid-container {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 80vw;
    overflow: hidden;
    grid-template-columns:
    auto auto auto auto auto auto auto auto auto auto auto auto;
}

.grid-container .grid-item {
    padding: 40% 0%;
}

.clear-button{
margin-top: 50px;
font-family: poppins;
font-size: 20px;
width: 100px;
height: 50px;
margin-bottom: 200px;
}

.eraser-button{
font-family: poppins;
}

.color-picker{
margin-top: 50px;
margin-left: auto;
margin-right: auto;
display: flex;
gap: 5vw;
justify-content: center;
align-items: center;
width: 80vw;
}

.btn{
width: 60px;
height: 60px;
border: none;
border-radius: 20%;
}


.eraser-button{
width: 160px;
height: 50px;
font-size: 5vh;
border-radius: 20%;
}

.pink-button{
background-color: var(--hot-pink-fill);}

.lavender-button{
background-color: var(--lavender-fill);}

.orange-button{
background-color: var(--orange-fill);}

.yellow-button{
background-color: var(--yellow-fill);}


.pink-fill{
background-color: var(--hot-pink-fill);
}
.lavender-fill{
background-color: var(--lavender-fill);
}
.orange-fill{
background-color: var(--orange-fill);
}
.yellow-fill{
background-color: var(--yellow-fill);
}

.erase{
background-color: var(--eraser);
}

.button-border{
border: 5px solid black}

/* ------------------------------------------------ FoodFinder.html ------------------------------------------------------- */

.food_finder{
width: 80vw;
margin: 50px auto 100px auto;
left: 30%;
top: 30%;
font-family: poppins;
}

#container{
    font-family: poppins;
    margin-bottom: 100px;

}

#container tr{
    height: 50px;
    text-align: center;
}

#container th{
    padding: 0 20px;
    white-space: nowrap;
}
